src/Level2.PlateLeveler.Server/Telegram.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TelegramList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TelegramData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Telegram">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Telegramblock">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element minOccurs="0" name="TelegramArray">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Telegramblock">
                                  <xs:complexType>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="Identity" type="xs:string" use="optional" />
                                    <xs:attribute name="Length" type="xs:int" use="required" />
                                    <xs:attribute name="Format" use="required">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="Double" id="double"/>
                                          <xs:enumeration value="Int16" id="short"/>
                                          <xs:enumeration value="Int32" id="int"/>
                                          <xs:enumeration value="Int64" id="long"/>
                                          <xs:enumeration value="Single" id="float"/>
                                          <xs:enumeration value="String" id="string"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="InObject" type="xs:boolean" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TelegramList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Telegramblock">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="TelegramArray">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Telegramblock">
                                              <xs:complexType>
                                                <xs:attribute name="Name" type="xs:string" use="required" />
                                                <xs:attribute name="Identity" type="xs:string" use="optional" />
                                                <xs:attribute name="Length" type="xs:short" use="required" />
                                                <xs:attribute name="Format" use="required">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:enumeration value="Double"/>
                                                      <xs:enumeration value="Int16"/>
                                                      <xs:enumeration value="Int32"/>
                                                      <xs:enumeration value="Int64"/>
                                                      <xs:enumeration value="Single"/>
                                                      <xs:enumeration value="String"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="InObject" type="xs:boolean" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="Identity" type="xs:string" use="optional" />
                                    <xs:attribute name="Length" type="xs:short" use="optional" />
                                    <xs:attribute name="Format" use="optional">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="Double"/>
                                          <xs:enumeration value="Int16"/>
                                          <xs:enumeration value="Int32"/>
                                          <xs:enumeration value="Int64"/>
                                          <xs:enumeration value="Single"/>
                                          <xs:enumeration value="String"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="InObject" type="xs:boolean" use="optional" />
                                    <xs:attribute name="Count" type="xs:int" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Identity" type="xs:string" use="optional" />
                        <xs:attribute name="Length" type="xs:short" use="optional" />
                        <xs:attribute name="Format" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Double"/>
                              <xs:enumeration value="Int16"/>
                              <xs:enumeration value="Int32"/>
                              <xs:enumeration value="Int64"/>
                              <xs:enumeration value="Single"/>
                              <xs:enumeration value="String"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="InObject" type="xs:boolean" use="optional" />
                        <xs:attribute name="DefaultValue" type="xs:string" use="optional" />
                        <xs:attribute name="Count" type="xs:int" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Length" type="xs:short" use="required" />
            <xs:attribute name="TelegramID" type="xs:short" use="required" />
            <xs:attribute name="ComIndex" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>